<div class="boxed-container">
  <header class="header_s header_default">
    <nav class="navbar ownavigation nav_absolute">
      <div class="navbar-collapse collapse" id="navbar">
        <ul class="nav navbar-nav menubar">
          <li class="{{ option == 'home' ? 'active' : '' }}" ><a title="Home" href="{{ base }}">INICIO</a></li>
          <li class="{{ option == 'servicios' ? 'active' : '' }}" ><a title="Servicios" href="services">SERVICIOS</a></li>
          <li class="{{ option == 'promociones' ? 'active' : '' }}" ><a title="Promociones" href="services#promociones">PROMOCIONES</a></li>
          <li class="{{ option == 'nosotros' ? 'active' : '' }}" ><a title="Sobre nosotros" href="about">NOSOTROS</a></li>
          <li class="{{ option == 'contactos' ? 'active' : '' }}" ><a title="Contactenos" href="contact" >CONTACTENOS</a></li>
          <li><a href="admin" title="Tu Pefil">INICIAR SESIÓN</a></li>
        </ul>
      </div>
    </nav>
  </header>
</div>